last 5 Chrome major versions
last 5 Firefox major versions
last 5 Safari major versions
last 5 Edge major versions

last 3 Android major versions
last 3 ChromeAndroid major versions
last 3 iOS major versions
